<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Topic</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');

        /* body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 20px;
        } */
        body {
            font-family: "Reenie Beanie", cursive;
            font-weight: 400;
            font-style: normal;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            padding: 30px;
            border-radius: 5px;
            max-width: 800px;
            margin: 20px auto;

            background-color: #fdfdfd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-image: radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px),
                radial-gradient(rgba(0, 0, 0, 0.02) 1px, transparent 1px);
            background-position: 0 0, 25px 25px;
            background-size: 50px 50px;
        }

        h2 {
            color: red;
            text-align: start;
            border-bottom: solid 2px red;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        label {
            font-size: 16px;
            margin-bottom: 10px;
            color: #333;
        }

        select {
            padding: 10px;
            font-size: 20px;
            border: 2px solid blue;
            border-radius: 4px;
            margin-bottom: 20px;
            width: 100%;
            max-width: 300px;
            font-family: "Reenie Beanie", cursive;
            font-weight: 600;
            color: blue;
        }

        button {
            padding: 10px 20px;
            font-size: 17px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-family: "Reenie Beanie", cursive;
            font-weight: 600;
        }

        button:hover {
            background-color: #0056b3;
        }

        button:focus {
            outline: none;
        }

        h3 {
            font-size: 20px;
            color: #007bff;
            margin-bottom: 20px;
            text-align: start;
        }

        .resources_class {
            padding: 7px;
        }

        .container_resource {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            /* gap: 20px; */
            width: 100%;
        }

        .category {
            /* flex: 1 1 calc(50% - 20px); */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 5px;
            background-color: #fff;
            width: 40%;
            margin-top: 20px;
        }

        .category h4 {
            color: red;
            border-bottom: 2px solid red;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        .resources_class a {
            display: block;
            color: blue;
            text-decoration: none;
            margin: 5px 0;
            font-weight: 600;
        }

        .resources_class a:hover {
            text-decoration: none;
        }

        @media (max-width: 600px) {
            .category {
                flex: 1 1 100%;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Select a Topic</h2>
        <form action="/quiz/select-topic" method="POST">
            <select name="selectedTopic" id="topic">
                <% topics.forEach((topic)=> { %>
                    <option value="<%= topic %>">
                        <%= topic %>
                    </option>
                    <% }) %>
            </select>
            <button type="submit">Start Quiz</button>
        </form>

        <div>
            <h2>Resources</h2>

            <div class="container_resource">
                <div class="category">
                    <h4>Node.js</h4>
                    <div class="resources_class">
                        <a href="/quiz/resources/nodejs">Node.js</a>
                    </div>
                </div>

                <div class="category">
                    <h4>Webpack</h4>
                    <div class="resources_class">
                        <a href="/quiz/resources/webpack">Webpack</a>
                    </div>
                </div>

                <div class="category">
                    <h4>HTML & CSS</h4>
                    <div class="resources_class">
                        <a href="/quiz/resources/html">HTML</a>
                    </div>
                    <div class="resources_class">
                        <a href="/quiz/resources/css">CSS</a>
                    </div>
                </div>

                <div class="category">
                    <h4>React</h4>
                    <div class="resources_class">
                        <a href="/quiz/resources/react/hooks/effect">React Effect Hooks</a>
                    </div>
                    <div class="resources_class">
                        <a href="/quiz/resources/react/hooks/useContext">React useContext Hook</a>
                    </div>
                </div>
                <div class="category">
                    <h4>Java</h4>

                    <div class="resources_class">
                        <a href="/quiz/resources/java/sdkman">SDKMAN!</a>
                    </div>
                    <div class="resources_class">
                        <a href="/quiz/resources/xslt">xslt</a>
                    </div>
                    <div class="resources_class">
                        <a href="/quiz/resources/struts">struts</a>
                    </div>
                </div>
                <div class="category">
                    <h4>Data Interchange Formats</h4>

                    <div class="resources_class">
                        <a href="/quiz/resources/java/sdkman">XML and JSON</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
